<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @comment.body %>
</p>

<p>
  <strong>Title:</strong>
  <%= @comment.link.title %>
</p>

<p>
  <strong>Link:</strong>
  <%= link_to @comment.link.url, @comment.link.url %>
</p>

<p>
  <strong>User:</strong>
  <%= @comment.user.email %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
