<h1>Sign up for Regreddit!</h1>
<%= form_for :user do |f| %> <br>
<%= f.label :email %> <br>
<%= f.text_field :email %>

<br>
<br>

<%= f.label :password %><br>
<%= f.text_field :password %><br>
<br>
<%= f.label :password %><br>
<%= f.text_field :password %><br>
<br>
<%= f.submit %>

<% end %>

<br>
<%= link_to "Home", root_path %>
